ul {
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid;
}

li {
    position: relative;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #CCC;
    font-size: 16px;
}

li:hover {
    background: #ebb;
}

li.submenu {
    background: #efefef;
}

ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
}

li.submenu:hover {
    background: #55d;
}

li.submenu:hover ul {
    display: block;
}

li a {
    display: block;
}

