html, body {
	padding: 0;
	margin: 0;
}

header {
    position: fixed;
    background-color: #5A5A5A;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 23px;
    color: white;
    font-size: 14px;
    font-family: 'Helvetica Neue', serif;
    text-align: center;
}

/*body {*/
/*    background: #55595E;*/
/*}*/

h1 {
    font: 400 40px/1.3 'Bree Serif', Georgia, serif;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
    color: #2285E8;
}

h3 {
    margin: 20px;
    font-weight: bold;
    color: #4183C4;
    font: 20px/1.4 Helvetica,arial,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}

h4 {
    font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
    margin: 20px;
}


p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    margin: 10px;
}

section {
     float: left;
     width: 20%;
     height: 500px;
     background-color: #5A5A5A;
     color: white;
}

aside {
    float: left;
    width: 80%;
    min-height:  500px;
    background-color: #FFF;
    overflow: auto;
}

img.banner {
    position: relative;
    width: 100%;
}

img.profile_pic {
    display: block;
    max-width: 180px;
    margin: 0px auto;
}

footer {
    width: 100%;
    left:0px;
    bottom:0px;
    background-color: #333;
    font: 400 16px/1.2 'Nixie One', Georgia, serif;
    color: #9A9A9A;
    line-height: 24px;
    text-align: center;
    
}

li {
   display: inline-block;
   border: 1px solid #CCC;
   font-family: Helvetica, sans-serif; font-size: 18px; line-height:24px;
   border-radius: 4px;
   padding: 10px;
   background-color:#55595E;
}

.nav {
    width: 100%;
    padding: 0px;
    text-align: center;
}


ul.nav li {
    vertical-align: top;
    font-size: 100%;
    text-align: center;
    padding: 0px 10px;
}

ul.nav li a {
    display: inline-block;
    padding: 10px 5px;
}

ul.nav li a {
   text-decoration: none;
}

ul.nav li a:link, a:visited, a:active {
   color: white;
}

ul.nav li:hover {
    background-color: #55acee;
}

ul.nav li ul {
    list-style: none;
    display: none;
}

ul.nav li:hover ul {
    display: inline-block;
}
