header {
    position: fixed;
    background-color: #bbbbbb;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    margin-bottom: 100;
    color: white;
    font-size: 14px;
    text-align: center;
}

body {
    background: #909eab;
    font-family: Helvetica, sans-serif; font-size: 18px; line-height:24px;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid;
}

li {
    position: relative;
    list-style: none;
    margin: 10px;
    border-bottom: 1px solid #CCC;
    font-size: 16px;
    display: inline-block

}

li:hover {
    background: #ebb;
}

li.submenu {
    background: #efefef;
}

ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
}

li.submenu:hover {
    background: #55d;
}


li.submenu:hover ul {
    display: inline-block;
}

li a {
    display: inline-block;
}


h1 {
    color: orange;
    text-align: center;
    margin-top: 50px;
    

footer {
    clear: both;
    background-color: yellow;
}