
body {
    background: white;
    font-family: Helvetica, sans-serif; font-size: 18px; line-height:24px;
}
	
	
.high {
	color: red;
	font-size: 16pt;
}
	
.medium {
	color: green;
	font-size: 14pt;
}
	
.low {
	color: rgb(0,0,255);
	font-size: 12pt;
}
	
li#ab12345 {
	text-decoration: line-through;
}
	
#check123 {
    list-style-image: url('check.jpeg');
    padding:0px 0px;
    
}