html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #262626; 
}

h1 {
	text-align: center;
	color: white;
	font-family:'Nixie One', Georgia, serif;
	font-size: 50px;
}

div {
	margin-top: 2%;
	background-color: #333;
	padding-bottom: 40px;
}

ul {
	list-style-type: none;
}

input {
	font-size: 15px;
	color: gray;
	font: 400 15px/1.2 'Nixie One', Georgia, serif;
}

label {
	font-size: 15px;
	color: white;
    font-weight: bold;
    font: 400 15px/1.2 'Nixie One', Georgia, serif;
}

button {
	width: 10%;
	font-weight: bolder;
	font: 400 15px/1.2 'Nixie One', Georgia, serif;
}

aside {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

section {
	position: relative;
	width: 100%;
}

select {
	font: 400 15px/1.2 'Nixie One', Georgia, serif;
}

#task_box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.high {
	color: red;
}

.medium {
	color: green;
}

.low {
	color: blue;
}

.checked {
	text-decoration: line-through;
	color: red;
}


/*
#333

#262626*/