html, body {
	padding: 0px;
	margin: 0px;
}

/*body {
	background-color: #262626; 
}*/

h1 {
	text-align: center;
	color: black;
	font-family:'Nixie One', Georgia, serif;
	font-size: 50px;
}

div {
	margin: 5px;
}

ul {
	list-style-type: none;
	border: 1px solid;
	padding: 2%;
	background-color: #bbbbbb;
	line-height: 150%;
}

input {
	font-size: 18px;
	font: 400 15px/1.2 'Nixie One', Georgia, serif;
	width: 65%;
	margin: 0px auto;
	padding: 2%;
}

p {
	text-align: center;
	font: 400 18px/1.5 'Nixie One', Georgia, serif;
}

label {
	font-size: 18px;
	font-family: 'Nixie One', serif;
}

button  {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Nixie One', serif;
	position: relative;
	padding: 1%;
	margin: 1%;
}

section {
	background-color: #2285E8;
	margin: 0px auto;
	padding: 10px;
}

aside {
	margin-top: 2px;
	text-align: center;

}

select {
	font-size: 18px;
	font-family: 'Nixie One', serif;
}

#task_box {
	width: 80%;
	margin: 0px auto;
}

.high {
	color: red;
}

.medium {
	color: green;
}

.low {
	color: blue;
}

.checked {
	text-decoration: line-through;
	color: red;
}


/*
colors
#333

#262626*/
