html, body {
	padding: 0px;
	margin: 0px;
}

/*body {
	background-color: #262626; 
}*/

h1 {
	text-align: center;
	color: black;
	font-family:'Nixie One', Georgia, serif;
	font-size: 50px;
	margin: 2px auto;
}

div {
	margin: 5px;
	overflow: scroll;
}

ul {
	width: 80%;
	margin: 0px auto;
	list-style-type: none;
	border: 1px solid blue;
	padding: 4%;
	max-height: 50%;
/*	background-color: #bbbbbb;*/
	line-height: 180%;
	overflow: scroll;
}

input[type='text'] {
	font: 400 18px/1.2 'Nixie One', Georgia, serif;
	width: 70%;
	margin: 0px auto;
	padding: 1%;
}

p {
	text-align: center;
	background-color: #333;
	padding: 5px;
	font-size: 25px;
	color: white;
	font-weight: bolder;
	font-family: 'Nixie One', Georgia, serif;
}

label {
	font-size: 18px;
	font-family: 'Nixie One', serif;
}

.item-container {
	font-size: 18px;
	font-family: 'Nixie One', serif;
}

button  {
	font-size: 23px;
	border: 1px solid;
	font-weight: bold;
	font-family: 'Nixie One', serif;
	position: relative;
	padding: 1%;
	margin: .3%;
}

section {
	background-color: #2285E8;
	margin: 5px auto;
	padding: 10px;
}

aside {
	margin-top: 5px;
	text-align: center;
}

select {
	font-size: 18px;
	font-family: 'Nixie One', serif;
}

#task_box {
	width: 100%;
	margin: 0px auto;
}

.high {
	color: red;
}

.medium {
	color: green;
}

.low {
	color: blue;
}

.checked {
	text-decoration: line-through;
	color: red;
}

footer {
	position: absolute;
	width: 100%;
    left:0px;
    bottom:0px;
   /* background-color: #333;*/
    font: 400 16px/1.2 'Nixie One', Georgia, serif;
    color: #9A9A9A;
    line-height: 24px;
    text-align: center;   
}
/*
colors
#333

#262626*/
