html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #262626; 
}

h1 {
	text-align: center;
	color: white;
	font-family:'Nixie One', Georgia, serif;
	font-size: 50px;
}

div {
	margin-top: 2%;
	background-color: #333;
	padding-bottom: 40px;
}

ul {
	list-style-type: none;
}

input {
	font-size: 15px;
	font: 400 15px/1.2 'Nixie One', Georgia, serif;
	width: 40%;
}

label {
	font-size: 18px;
	color: white;
    font-family: 'Nixie One', serif;
}

label#t {
	font-family:'Bree Serif', Georgia, serif;
	font-size: 18px;
	color: black;

}

button#remove {
	background-color: red;
	float: right;
	width: 90px;
	font-weight: bold;
	font-family:'Bree Serif', Georgia, serif;
	font-size: 18px;
	padding: 4px;
	margin-right: 20px;
}

button#add {
	background-color: green;
	float: right;
	width: 90px;
	font-weight: bold;
	font-family:'Bree Serif', Georgia, serif;
	font-size: 18px;
	padding: 4px;
	margin-right: 4%;
}

aside {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

section {
	background-color: #2285E8;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0px auto;
}

select {
	font: 400 18px/1.2 'Nixie One', Georgia, serif;
	margin-left: 2%;
}

#task_box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.high {
	color: red;
}

.medium {
	color: green;
}

.low {
	color: blue;
}

.checked {
	text-decoration: line-through;
	color: red;
}


/*
colors
#333

#262626*/